<h4 class="header"><%= rule.name %></h4>
<p><b>Author:</b> <%= rule.username %></p>
<p><b>Type:</b> <%= rule.rule_type %></p>
<p><b>Description:</b> <%= rule.description %></p>
<p><b>Summary:</b> <%= rule.summary %></p>
<p><b>Capabilities:</b> 
<% rule.capabilities_arr.each do |capability| %>
  <span class="label label-primary"><%= capability %></span>
<% end %>
</p>