<p id="notice"><%= notice %></p>

<h1 class="header">Cozify Rules</h1>
<div class="list-group">
<% @rules.each do |rule| %>
  <div class="list-group-item">
    <%= render "rule", rule: rule %>
    <span><%= link_to 'See details', rule %></span>
  </div>
<% end %>
</div>
<%= paginate @rules %>
<br>

<%= link_to 'New Rule', new_rule_path, class: 'btn btn-primary' %>
