<p id="notice"><%= notice %></p>

<h1 class="header">Cozify Rules</h1>
<div class="list-group">
<% @rules.each do |rule| %>
  <div class="list-group-item">
    <h4 class="header"><%= rule.name %></h4>
    <p><b>Type:</b> <%= rule.rule_type %></p>
    <p><b>Description:</b> <%= rule.description %></p>
    <p><b>Summary:</b> <%= rule.summary %></p>
    <p><b>Capabilities:</b> 
    <% rule.capabilities_arr.each do |capability| %>
      <span class="label label-primary"><%= capability %></span>
    <% end %>
    </p>
    <span><%= link_to 'Show', rule %></span>
    <span><%= link_to 'Edit', edit_rule_path(rule) %></span>
    <span><%= link_to 'Destroy', rule, method: :delete, data: { confirm: 'Are you sure?' } %></span>
  </div>
<% end %>
</div>

<br>

<%= link_to 'New Rule', new_rule_path %>
