<p id="notice"><%= notice %></p>

<h1 class="header">Welcome to Cozify.me!</h1>
<h3>Search through Cozify scripts submitted by users or submit your own!</h3>

<form class="form-inline" method="GET" action="<%= rules_path %>">
  <div class="form-group">
    <select id="capabilities-selector" name="capabilities[]" multiple="multiple">
    <% Rule.all_capabilities.each do |capability| %>
      <option value="<%= capability %>"><%= capability %></option>
    <% end %>
    </select>
  </div>
  <input type="text" name="q" class="form-control" placeholder="Search..." />
  <button type="submit" class="btn btn-default">Refresh</button>
</form>

<div class="list-group">
<% @rules.each do |rule| %>
  <div class="list-group-item">
    <%= render "rule", rule: rule %>
    <span><%= link_to 'See details', rule %></span>
  </div>
<% end %>
  <div>
    <%= paginate @rules %>
  </div>
  <div>
    <%= link_to 'New Rule', new_rule_path, class: 'btn btn-primary' %>
  </div>
</div>
