<p id="notice"><%= notice %></p>

<h1 class="header">Cozify Rules</h1>
<div class="list-group">
  <div class="list-group-item">
    <%= render "rule", rule: @rule %>
    <p><b>Code:</b></p>
    <div class="panel">
      <%= @rule.code_html %>
    </div>  
    <% if current_user && current_user.author_of?(@rule.id) %>
      <span><%= link_to 'Edit', edit_rule_path(@rule), class: "btn btn-primary" %></span>
      <span><%= link_to 'Delete', @rule, method: :delete, class: "btn btn-danger", data: { confirm: 'Are you sure?' } %></span>
    <% end %>
  </div>
</div>

<br>